a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #ffffff !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
}

nav.navbar {
    /*background-color: #007bff !important;*/
    background-color: #593196 !important;
    font-weight: bold !important;
}
.text-dark {
    color: #ffffff !important;    
}

nav ul.navbar-nav a:hover {
    border-bottom: 1px solid #F14B31;    
}

nav ul.navbar-nav a.active {
    background-color: #efefef;
    color: #ec1919 !important;
    font-weight: 700;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: .25rem;
    border-bottom: 1px solid #F14B31;
    margin-top: 6px !important;
    margin-left: 6px !important;
}
