/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.font-size-12 {
    font-size: 12px !important;
}
.mb-10 {
    margin-bottom:10px !important;
}

.bg-color-1 {
    background-color: #593196 !important;
    color:#fff;
}
/*------------- Start Table CSS ----------*/
.dataTables_wrapper, .dt-bootstrap4 {
    font-size: 12px !important;
}
table > thead > tr > th {
    white-space:nowrap !important;
}
table , tr , td {
    /*white-space:nowrap !important;*/
    vertical-align:middle !important;
}
select.custom-select {
    margin-left: 0px !important;
}
.dataTables_filter, .dataTables_paginate {
    float: right !important;
}
/*------------- End Table CSS ----------*/
