@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Manage your account</h1>
<hr />
<div>
    <div class="row">
        <div class="col-md-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
